<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercabo Liebre Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <img class="imagen-centrada" src="/images/logo-mercado-liebre.jpg" style="width:180; height:60px">
        <div>
            <input type="text" placeholder="Buscar productos, marcas">
            <button class="texto-centrado" type="button">Buscar</button>
        </div>
        <p class="texto-centrado"> <i class="fa-light fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>            
            <li>Creá tu cuenta <i class="fa-light fa-user"></i></li>
            <li>Ingresá <i class="fa-light fa-person-to-portal"></i></li>
            <li>Mis compras <i class="fa-light fa-basket-shopping"></i></li>
        </ul>
        <div class="texto-centrado">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    
    <main>
        <img class="img02" src="/images/img-home-banner.jpg">
        <h2 class="titulares">Basado en tu última visita</h2>

        <article class="contenedor-articulo">
            <img class="img01" src="/images/img-cafetera-moulinex.jpg">
            <div class="contenedor1">
                <p><i class="fa-sharp fa-solid fa-truck-fast"></i></p>
                <div><p class="precios">$6.770</p></div>
                <div><p class="descuentos">40% OFF</p></div>
                <div><h5 class="descripciones">Cafetera Moulinex</h5></div>
            </div>
        </article>
        <article class="contenedor-articulo">
            <img class="img01" src="/images/img-macbook-pro-2019.jpg">
            <div class="contenedor1">
                <p><i class="fa-sharp fa-solid fa-truck-fast"></i></p>
                <div><p class="precios">$230.000</p></div>
                <div><p class="descuentos">20% OFF</p></div>
                <div><h5 class="descripciones">MacBook Pro 2019</h5></div>
            </div>
        </article>
        <article class="contenedor-articulo">
            <img class="img01" src="/images/img-samsung-galaxy-s10.jpg">
            <div class="contenedor1">
                <p><i class="fa-sharp fa-solid fa-truck-fast"></i></p>
                <div><p class="precios">$70.500</p></div>
                <div><p class="descuentos">10% OFF</p></div>
                <div><h5 class="descripciones">Samsung Galaxy S10</h5></div>
            </div>
        </article>
        <article class="contenedor-articulo">
            <img class="img01" src="/images/img-tv-samsung-smart.jpg">
            <div class="contenedor1">
                <p><i class="fa-sharp fa-solid fa-truck-fast"></i></p>
                <div><p class="precios">$23.200</p></div>
                <div><p class="descuentos">5% OFF</p></div>
                <div><h5 class="descripciones">SmartTv Samsung 43"</h5>
            </div>
        </article>

        <h2 class="titulares">Sección de Ofertas</h2>

        <article>
            <img class="img01" src="/images/img-cafetera-moulinex.jpg">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h5 class="descripciones">Cafetera Moulinex</h5>
        </article>
        <article>
            <img class="img01" src="/images/img-macbook-pro-2019.jpg">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
            <h5 class="descripciones">MacBook Pro 2019</h5>
        </article>
        <article>
            <img class="img01" src="/images/img-samsung-galaxy-s10.jpg">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
            <h5 class="descripciones">Samsung Galaxy S10</h5>
        </article>
        <article>
            <img class="img01" src="/images/img-tv-samsung-smart.jpg">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% OFF</p>
            <h5 class="descripciones">SmartTv Samsung 43"</h5>
        </article>
    </main>

    <footer>
        <article class="texto-centrado">
            <i class="fa-solid fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="texto-centrado">
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="texto-centrado">
            <i class="fa-solid fa-person-rifle"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article class="texto-centrado">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>
    </footer>
    
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>